<div class="outer-container">
    <div class="column" style="height: 100%;">
            <img src="assets/logo_white.png" class="about-logo logo-position">
    </div>
    <div class="column">
        <div class="description-margin" >
            <h1 style="color: white; font-size: 1.8vw;">Cypher Industries</h1>
            <h2 style="color: white; font-size: 1.2vw;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mollis, metus a semper aliquet, nisl leo euismod nibh, vitae consequat elit eros in elit. Morbi porttitor non odio non lobortis. In porta, orci nec suscipit posuere, sem libero sollicitudin lorem, in auctor felis felis et neque.</h2>
        </div>
    </div>
</div>
