<div class="outer-container-services" style="margin-top: 30px;">
    <div class="row-size-small services-title">
        <h1 style="margin-top: 30px;">Services</h1>
    </div>
    <div class="row">
        <div class="column" style="height: 100%;">
            <div class="service-box">
                <img src="assets/coding-logo.png" class="about-logo logo-position" style="height: 160px; width: 160px;">
                <div >
                    <button class="service-button" mat-raised-button type="button" color="primary" (click)="webdevBtn()">Website Development</button>
                </div>
            </div>
        </div>
        <div class="column" style="height: 100%;">
            <div class="service-box">
                <img src="assets/AIML-logo.png" class="about-logo logo-position" style="height: 160px; width: 160px;">
                <div >
                    <button class="service-button" mat-raised-button type="button" color="primary" (click)="mobileBtn()">Mobile-App Development</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column" style="height: 100%;">
            <div class="service-box">
                <img src="assets/AI-logo.png" class="about-logo logo-position" style="height: 160px; width: 160px;">
                <div >
                    <button class="service-button" mat-raised-button type="button" color="primary" (click)="aiDev()">Machine-Learning and AI Services</button>
                </div>
            </div>
        </div>
        <div class="column" style="height: 100%;">
            <div class="service-box">
                <img src="assets/personal-logo.png" class="about-logo logo-position" style="height: 160px; width: 160px;">
                <div >
                    <button class="service-button" mat-raised-button type="button" color="primary" (click)="customProject()">Personal Project</button>
                </div>
            </div>
        </div>
    </div>
</div>
